## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df=pd.read_csv("/Users/kristinallocco/Desktop/Module_6_Challenge/Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Sept-Iles,CA,67.24,broken clouds,50.2001,-66.3821,Comfort Inn
1,10,Tocopilla,CL,66.25,overcast clouds,-22.0920,-70.1979,Hotel Galvarino
2,15,Valparaiso,CL,60.44,broken clouds,-33.0393,-71.6273,Hotel Ultramar
3,38,Cape Town,ZA,62.28,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
4,44,Vaini,TO,68.16,fog,-21.2000,-175.2000,Keleti Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations.head()

       Lat       Lng
0  50.2001  -66.3821
1 -22.0920  -70.1979
2 -33.0393  -71.6273
3 -33.9258   18.4232
4 -21.2000 -175.2000

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Lulea']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Lulea']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Muyezerskiy']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Ainazi'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Stornoway']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([65.5842, 22.1547], dtype=object)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Lulea = start
Muyezerskiy = stop1
Ainazi = stop2
Stornoway = stop3 
roadtrip = gmaps.directions_layer(Lulea, Lulea, 
                                  waypoints=[Muyezerskiy, Ainazi, Stornoway],
                                  travel_mode="DRIVING")

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,65,Lulea,SE,68.07,clear sky,65.5842,22.1547,Comfort Hotel Arctic
1,98,Muyezerskiy,RU,64.18,overcast clouds,63.9333,31.6500,"Gostinitsa Ooo ""Lzkh ""Ledmozerskoye"""
2,432,Ainazi,LV,69.69,clear sky,57.8636,24.3578,Ikla Hostel
3,564,Stornoway,GB,63.93,broken clouds,58.2093,-6.3865,Caladh Inn

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))